<phpunit
    cacheTokens="false"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    forceCoversAnnotation="true"
    mapTestClassNameToCoveredClassName="false"
    processIsolation="false"
    stopOnError="true"
    stopOnFailure="false"
    stopOnIncomplete="false"
    stopOnSkipped="false"
    stopOnRisky="false"
    verbose="false"
>
    <filter>
        <whitelist>
            <directory suffix=".php">../classes</directory>
        </whitelist>
    </filter>
    <testsuites>
       <testsuite>
            <directory>.</directory>
        </testsuite>
    </testsuites>
    <logging>
        <log type="coverage-html" target="../build/coverage" />
    </logging>
</phpunit>
